<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-wswUnity" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>wswUnity</name>
    <js-module name="wswUnity" src="www/wswUnity.js">
        <clobbers target="wswUnity" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="wswUnity">
                <param name="ios-package" value="wswUnity" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
     

        <header-file src="src/ios/wswUnity.h" />
        <source-file src="src/ios/wswUnity.m" />

    </platform>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="wswUnity">
                <param name="android-package" value="ma.xiaoshuai.cordova.wswUnity.wswUnity" />
            </feature>
        </config-file>

        <source-file src="src/android/wswUnity.java" target-dir="src/ma/xiaoshuai/cordova/wswUnity" />

    </platform>

</plugin>